* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Libre Baskerville', serif;
}

/* ********************
        NAV 
******************** */

.navContainer {
    background-color: #211312;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 20px;
}

.navLinks {
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    border-bottom: solid 1px antiquewhite;
}

.navLinks:hover {
    color: rgb(255, 217, 172);
}


/* **********************
        FOOTER
************************* */

.footerContainer {
    background-color: #2f1b06;
    color: antiquewhite;
    padding-top: 20px;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footerContent h3 {
    font-size: 25px;
    font-weight: bold;
    text-transform: capitalize;
    line-height: 3rem;
    margin-bottom: 15px;
}

.footerContent p {
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}

.socialLinks {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}


.socialLinks li {
    margin: 0 10px;
}

.socialLinks a {
    text-decoration: none;
    color: antiquewhite;

}

.socialLinks a i {
    font-size: 30px;
}

.btmFooter {
    background-color: #211312;
    width: 100%;
    padding: 20px 0;
    text-align: center;
}

.btmFooter p {
    font-size: 12px;
    text-transform: capitalize;
}



/* 
******************************
            HOME   
 ******************************  */


.titleHero {
    font-size: 75px;
    margin-bottom: 32px;
}

.pHero {
    font-size: 19px;
    line-height: 1.6;
    margin-bottom: 48px;
    font-style: oblique;
}

.button:link,
.button:visited {
    font-size: 20px;
    font-weight: 700;
    background-color: #492f0d;
    color: antiquewhite;
    text-decoration: none;
    display: inline-block;
    padding: 16px 32px;
    border-radius: 5px;
    font-weight: bold;
}

.button:hover {
    box-shadow: 0px 5px 5px #4c3719;
    padding-top: 20px;
    padding-left: 40px;
    color: rgb(255, 217, 172);
}


.headerHome {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(31, 17, 1, 0.5)), url(Images/heroImage.jpeg);
    background-size: cover;
    color: bisque
}

.mainContainer {
    width: 1200px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* **********************
        CONTACT PAGE
*************************   */
#contactBody {
    font-family: 'Libre Baskerville', serif;
}

.contactHeader {
    height: 100vh;
    position: relative;
    background-image: linear-gradient(rgba(56, 47, 35, 0.35), rgba(56, 47, 34, 0.35)), url(Images/goat.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.contactHeader {
    color: rgb(67, 27, 7);
}



.h1Contact {
    display: flex;
    font-size: 60px;
    justify-content: end;
    padding-right: 3.5em;
    padding-bottom: 8px;
    padding-top: 25px;
}

.pContact {
    text-align: center;
    font-size: 20px;
    width: 700px;
    float: right;
    padding-right: 3em;
}

.contactBox {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(18%, -25%);
    background-color: rgb(229, 215, 199);
    border: solid 3px rgb(74, 32, 11);
    border-radius: 5px;
}

#contactForm {
    margin: 35px;
}

.inputFields {

    width: 400px;
    height: 40px;
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(82, 68, 56);
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.textArea {
    width: 400px;
    height: 150px;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid rgb(82, 68, 56);
    border-radius: 5px;
    outline: none;
    background-color: rgb(255, 255, 255);
}

.contactBtn {
    margin-top: 2em;
    margin-left: 8em;
}

.contactBtn a {
    border-radius: 20px;
    color: rgb(251, 251, 251);
    padding: 10px;
    background-color: rgb(74, 32, 11);
    font-size: 15px;
    border: none;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}

.contactBtn a:hover {
    box-shadow: 0px 5px 5px #4c3719;
    padding-bottom: 12px;
    padding-right: 12px;
}

/* 
***************************
        PRODUCT
*************************** */

.bodyProducts {
    background-image: linear-gradient(rgba(32, 14, 1, 0.3), rgba(32, 14, 0, 0.3)), url(Images/brownpattern.webp);
    background-size: auto;
}

.productsHeader {
    font-size: 45px;
    padding-top: 95px;
    padding-bottom: 40px;
    color: antiquewhite;
    text-align: center;
}

.h1Products {
    background-color: #271a0a77;
    border-radius: 2px;
    padding: 20px;
    border-bottom: solid 2px antiquewhite;
    border-top: solid 2px #f9e1c8;
}

.productContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    padding-top: 150px;
    row-gap: 150px;
    padding-bottom: 150px;
}

.productContainer .item {
    border: solid 5px rgb(126, 84, 47);
    background-color: #f9e1c8d0;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0px 10px 10px #211312;
    text-align: center;
    justify-self: center;
    width: 300px;
    height: 350px;
}

.item .title {
    padding: 1em;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 1em;
    color: rgb(30, 24, 10);
}

.item img {
    max-width: 150px;
    border-radius: 5px;
    max-height: 150px;
    max-width: 150px;
}

.item .info {
    padding-top: 1em;
    text-align: center;
    margin-bottom: 0.75em;
    color: rgb(30, 24, 10)
}

.btnProduct {
    background-color: #5f4123;
    border: none;
    padding: 12px;
    border-radius: 10px;
}

.btnProduct a {
    font-weight: bold;
    color: #efefef;
    text-transform: uppercase;
    text-decoration: none;
}

.btnProduct:hover {
    box-shadow: 0px 5px 5px #191209;
    padding-top: 14px;
    padding-left: 14px;
}

.btnProduct a:hover {
    color: bisque
}